//- div(style="width: 960px; height: 30px; background-color: red;") 960
//- div(style="width: 768px; height: 30px; background-color: green;") 768
//- div(style="width: 480px; height: 30px; background-color: blue;") 480
//- div(style="width: 320px; height: 30px; background-color: yellow;") 320

!{header}

main
  .about
    .container!= about

  .content
    .container
      .content--wrapper!= quote
      .content--wrapper!= recent
      
.container.logos
  a(href="#brand1")
    img(src="img/logos/logo-1.png", alt="logo-1")
  a(href="#brand2")
    img(src="img/logos/logo-2.png", alt="logo-2")
  a(href="#brand3")
    img(src="img/logos/logo-3.png", alt="logo-3")
  a(href="#brand4")
    img(src="img/logos/logo-4.png", alt="logo-4")
  a(href="#brand5")
    img(src="img/logos/logo-5.png", alt="logo-5")
  a(href="#brand6")
    img(src="img/logos/logo-6.png", alt="logo-6")
  
!{categories}

!{footer}

#media-width-detection-element
